@page "/stats"
@inherits StatsBase

<h3>Stats</h3>
<hr />
<p role="status">Current Words Count: @WordCounter</p>

<p role="status">Tested Words Count: @TestedWords</p>
<div class="progress">
  <div class="progress-bar" role="progressbar" style="@($"width: {100.0 * TestedWords / WordCounter}%")" aria-valuenow="@TestedWords" aria-valuemin="0" aria-valuemax="@WordCounter"></div>
</div>
<br/>
<p role="status"><b style="background:#28a745;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</b> Correct Words Count: @CorrectCount</p>
<p role="status"><b style="background:#dc3545;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</b> Wrong Words Count: @WrongCount</p>
<div class="progress">
  <div class="progress-bar bg-success" role="progressbar" style="@($"width: {100.0 * CorrectCount / CorrectCount+WrongCount}%")" aria-valuenow="@CorrectCount" aria-valuemin="0" aria-valuemax="@CorrectCount+@WrongCount"></div>
  <div class="progress-bar bg-danger" role="progressbar" style="@($"width: {100.0 * WrongCount / CorrectCount+WrongCount}%")" aria-valuenow="@WrongCount" aria-valuemin="0" aria-valuemax="@CorrectCount+@WrongCount"></div>
</div>




